.groceryItem {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}

.itemsContainer {
  background-color: aqua;
  border-radius: 20px;
  padding: 10px 100px;
  max-height: 530px;
}

.groceryContainer li:first-child {
  border-radius: 10px 10px 0 0;
}

.groceryContainer li:last-child {
  border-radius: 0 0 10px 10px;
}

.totalAmt {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}
