.searchContainer {
  background-color: #e0e1dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1.5rem solid #415a77;
}

.searchHeading {
  color: #778da9;
}

.playerBtn {
  border: none;
  background-color: #778da9;
  width: 150px;
  border-radius: 25px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.playerBtn:hover {
  background-color: #acb5c0;
}
